{% set classes = [
    'nav',
    'flex-column'
  ] %}
  {% set item_classes = [
    'nav-item'
  ] %}
  {% set link_classes = [
    'nav-link'
  ] %}
  
  <ul{{ attributes.addClass(classes) }}>
    {% for item in items %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% set link_title_classes = item.is_expanded ? 'text-primary fs-4' : '' %}
        {{ link(item.title, item.url, { 'class': link_classes|merge([link_title_classes]) }) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>