.ui-dialog {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 80vw !important;
    width: auto !important;
}

.ui-dialog-titlebar {
    background: #007bff;
    color: white;
    padding: 10px;
}
  
.ui-dialog-content {
    padding: 20px;
    max-height: 80vh !important;
    overflow-y: auto;
}
  
.modal-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}