.content-header {
  background-color: #fff !important;
}

.body {
  min-height: 1000px;
}

.menu-item-title {
  display: none !important;
}

.choissez {
  margin-top: 10px;
}

.bloc-offre {
  margin-top: 35px !important;
  margin-bottom: 15px;
}

.texte-phone {
  text-decoration: none;
}

.texte-phone:hover {
  font-weight: bold;

}

.texte-sous-categorie {
  text-decoration: none;

}

.texte-categorie {
  text-decoration: none;
  font-weight: bold;
}

.texte-categorie:hover {
  text-decoration: none;
  color: black;
}

.texte-sous-categorie:hover {
  color: #ff7900;
}

/*faq */


.bloc-recherche {
  margin-top: 30px;
}

.texte-trombino-agence {
  margin-top: 100px;
  padding: 40px;
}

.texte-trombino-agence {
  margin-top: 100px;
  padding: 40px;
}

.texte-orange {
  color: #ff7900;
}

.trombino-agence {
  font-size: 27px;
  color: #ff7900;
  font-weight: 600;
  margin-top: -80px;
}

.input-trombino {
  margin-top: 225px;
}

.back-trombino {
  background-image: url('img/q5tnynj1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-left: -20px;
  padding-right: 100px;
}

.bouton-infos {
  color: white;
}

.promo-vacances {
  padding-top: 105px !important;
  padding-left: 80px !important;
}

.texte-bon-plan {
  background-color: yellow;
  padding: 5px;
  color: black;
  text-align: center;
  margin-left: 10px;
}

.texte-jusqua {
  padding-top: 45px
}

.img-baisses {
  width: 100%;
}

.div-img-baisses {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.bloc-actualite {
  margin-right: 30px;
  margin-top: 20px;
  box-shadow: 10px 40px 0px #f2f2f2;
}

.text-ombre {
  box-shadow: 10px 40px 0px #f2f2f2;
  background-color: #f2f2f2;
}

.mes-images {

  box-shadow: -15px 65px 1px #f2f2f2;

}

.texte-phone {
  text-decoration: none;
}


.orange-yelen-title {
  position: relative;
  padding-bottom: 1rem;
    &::after {
      content: "";
      position: absolute;
      top: 2rem;
      width: 7%;
      background-color: #ff7900;
      height: 10px;
      left: 0;
    }
}


/**
REGION
 */

.region-hero-sidebar {
  height: 100%;
}

/**
END REGION
 */

/**
dans le HTML
 */

.texte-trombino-agence {
  margin-top: 100px;
  padding: 40px;
}

.texte-orange {
  color: #ff7900;
}

.trombino-agence {
  font-size: 22px;
  color: #ff7900;
  font-weight: 600;
  margin-top: -80px;
}

.txt_collapse {
  font-weight: normal;
  font-size: 20px;
}

.back-texte-carousel {
  background-color: black;
  color: white;
}

.bloc-recherche {

  margin-top: 30px;
}

.texte-trombino-agence {
  margin-top: 100px;
  padding: 40px;
}

.texte-trombino-agence {
  margin-top: 100px;
  padding: 40px;
}

.texte-orange {
  color: #ff7900;
}

.trombino-agence {
  font-size: 27px;
  color: #ff7900;
  font-weight: 600;
  margin-top: -80px;
}

.input-trombino {
  margin-top: 225px;
}

.back-trombino {
  background-image: url('img/q5tnynj1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

/* carousel */
/* accordion */
.barre-haut {
  border: none;
}

/* accordion */

.petit-bloc-rectangle {
  padding: 20px;
  background-color: red;
}

.my-card {
  border: 1px solid #cccccc;
  margin-bottom: 70px;
  margin-right: 70px;
}

.bloc-img {
  flex: 0 0 auto;
  width: 50%;
}

.petite-icon {
  width: 70%;
}

.bloc-txt {
  width: 35%;
  margin-left: -60px;
  margin-top: 10px;
}

.icon-orange::after {
  color: #ff7900 !important;
}

.txt_collapse {
  font-weight: normal;
  font-size: 20px;
}

.texte-phone {
  text-decoration: none;
}

.back-trombino {
  background-image: url('img/q5tnynj1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-left: -20px;
  padding-right: 100px;
}

.bouton-infos {
  color: white;
}

.promo-vacances {

  padding-left: 80px !important;
}

.texte-bon-plan {
  background-color: yellow;
  padding: 5px;
  color: black;
  text-align: center;
  margin-left: 10px;
}

.texte-jusqua {
  padding-top: 45px
}

@media (max-width: 450px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .paginate {
    flex-direction: row;
    text-decoration: none;
  }

  .back-trombino {
    margin-left: 0;
  }
}


.icon-orange::after {
  color: #ff7900 !important;
}

.card-custom-width {
  margin-right: 3.5rem;
}

.card-body {
  color: black;
  background-color: white;
}

.card-title {
  color: #ff7900;
  font-size: 30px;
}

.card-title a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.btn-voir-plus {
  border: 1px solid white;
  color: black
}

.bloc-quiz {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 460px) {
  .card-custom-width {
    margin-right: 26px;
    width: 100%;
  }

  .bloc-quiz {
    margin-top: 20px;
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 24px;
  }

  .btn-voir-plus {
    padding: 5px 10px;
  }
}

.barre-haut {
  border: none;
}


.texte-phone {
  text-decoration: none;
  color: white;
}

.texte-phone:hover {
  color: #ff7900;
}

.txt_collapse {
  font-weight: normal;
  font-size: 20px;
}

/*begin wisdom styling*/

a.hover-orange:hover {
  color: #ff7900;
}

.orange-color-link a {
  color: black;
  text-decoration: none;
}

.orange-color-link a:hover {
  color: #ff7900;
  text-decoration: none;
}

.orange-yelen-title-block {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 2rem;
    width: 25%;
    background-color: #ff7900;
    height: 10px;
    left: 0;
   }
}

.utility_form {
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*disable preview block*/
.node-preview-container {
  display: none !important;
}


.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  min-width: 185px !important;
}

.main_slider .carousel {
  height: 200px;
  overflow-y: hidden;
}

/* Style node generaly */

.field--name-body {
  margin-top: 20px;
}

.field--name-field-process,
.field--name-field-files,
.field--name-field-modes-operatoires,
.field--name-field-documents {
  margin-bottom: 20px;
}

/* style node listing content type */
.card-yelen img {
  width: 350px;
  height: 200px
}

.card-yelen .card-body {
  height: 230px;
}

.card-yelen .card-body .btn {
  position: absolute;
  bottom: 20px;
}
.home-body p{
  font-weight:normal !important;
}

/* styling chiffre cle bloc */
.view-id-hero_slider {
  margin-bottom: 0.3px
}

.bloc_chiffre_cle {
  margin-top: 7px;
  width: 100%;
  background-color: #3C3C3B;
  padding: 18px 18px;
}
.chiffrecle_header {
  width: 30%;
}

.chiffrecle_content {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.chiffrecle::before {
  content: '';
  height: 40px;
  background-color: white;
  width: 1px;
  position: absolute;
}

    .chiffrecle {
      display: flex;
      font-size: 20px;
      width: 100%;
      font-weight: bold;
    }
    .chiffre_title {
      text-transform: uppercase;
      margin-right: 5px;
      margin-left: 35px;
    }

    .chiffre_value {
      color: #ff7900;
    }



.chiffrecle_header span{
  font-size: 20px !important;
}
.chiffrecle_header h2{
  margin-bottom: 10px !important;
}


.home-body{
  text-decoration:none;
  .orange-color-link:hover{
    color: #ff7900;
  }
}

.field__item a{
  text-decoration: none !important;
}

.field__item a:hover{
  color: #ff7900 !important;
}

/*flash info*/
.view-flash-info{
  margin-bottom: 7px !important;
}

.flash-info-block{
  /*overflow: hidden;*/
  white-space: nowrap;
  position: relative;
}

.flash_info{
  width: 10%;
  background-color:#ff7900 ;
  z-index: 100;
  span{
    font-size: 18px;
  }
}
.flash_info_information{
  display: block;
  animation: defilement 30s linear infinite; /*Animation */
  width: 80%;
  align-content: center;
}

.item-flash{
  width: 100%;
  display: inline-block;
}

.item-flash .views-field .field-content a{
  color: white !important;
  text-decoration: none;
}

/* Animation */
@keyframes defilement {
  0% {
    transform: translateX(100%); /* Démarre hors de l'écran */
  }
  100% {
    transform: translateX(-500%); /* Sort par la gauche */
  }
}

.item-flash:hover ~ .flash_info_information,
.flash_info_information:hover {
  animation-play-state: paused; /* Arrête l'animation */
  .item-flash .views-field .field-content a{
    color: #ff7900 !important;
    text-decoration: none;
  }
}

.utility_btn_img{
  width: 50px;
  height: auto;
}
.yes{
  background-color:#ff7900;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border:solid 1px #ff7900;
  box-shadow: 1px 1px 1px black;
}

.no{
  background-color:black;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  border:solid 1px black;
  box-shadow: 1px 1px 1px grey;
}

/*pager*/
.pager__link.is-active, .pager__item--current{
  background-color:#ff7900 !important;
  color:black;
}
