<div class="modal fade" id="imageVideoModal" tabindex="-1" aria-labelledby="imageVideoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageVideoModalLabel">{{ title }}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if image %}
            <img src="{{ image }}" alt="Image Video" class="img-fluid">
          {% elseif video %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{ video }}" allowfullscreen></iframe>
            </div>
          {% else %}
            <p>Aucun média disponible</p>
          {% endif %}
          <a href="/user/login" class="btn btn-primary">Se connecter pour plus de détails</a>
        </div>
      </div>
    </div>
  </div>