<p>Bonjour,</p>
<p>Un nouveau contenu vient d'être crée dans Yelen.</p>
<p><b>Titre du contenu:</b> {{ content.node_title | capitalize}}</p>

<p><a href="{{ content.node_url }}">Consulter le contenu</a></p>
