/**
BOOSTED OVERRIDE
*/
.text-primary{
  color: #ff7900;
}
.card-body{
  padding: 0.9375rem 1.25rem;
}

.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
/**
END BOOSTED OVERRIDE
*/
.yelen-search-result__list .search-result-item{
  margin-bottom: 1rem;
}

.yelen-search-result__list .search-result-item .card{
  /*border-radius: 1rem;
  border-color: transparent;*/
}

.yelen-search-result__list .search-result-item .media{
  margin-right: 1rem;
  flex: 0 0 auto;
}

.yelen-search-result__list .search-result-item .media img{
  width: 100px;
  max-height: 100px;
}

.yelen-search-result__list .search-result-item .action{
  margin-left: auto;
  flex: 0 0 auto;
}

.yelen-search-result__list .search-result-item .card-title > a{
  text-decoration: none;
  color: #000;
}

.yelen-search-result__list .search-result-item .card-body{
  background-color: transparent;
  color: inherit;
}
.yelen-search-result__list .search-result-item .card-title{
  font-size: 1.25rem;
}

.yelen-search-result__list .search-result-item .text .short-description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #979797;
}

.orange-yelen-top-search__block,
.block-search-api-stats-blockyelen-search-content{
  background-color: #f1f1f1;
  .inner-content{
  }

  .block__title{
    padding: .85rem 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .most-popular-terms__list{
    .term{
      cursor: pointer;
      border-bottom: 1px solid #b5b5b5;
      text-decoration: none;
      color: #000;
      display: block;
      padding: 2rem 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      &:last-child{
        border-bottom: none;
      }

      .card-body {
        background-color: transparent;
        color: inherit;
      }

      &:hover{
        background-color: #ff7900;
        color: #FFFFFF;
      }
    }
  }
}

.orange-yelen-search-search-rating{
  .rating{
    .form-radios {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row-reverse; /* this is the magic */
      justify-content: flex-end;
    }

    .form-radios input {
      display: none;
    }

    .form-radios label {
      font-size: 24px;
      cursor: pointer;
    }

    .form-radios label:hover,
    .form-radios label:hover ~ label { /* reason why the stars are in reverse order in the html */
      color: orange;
    }

    .form-radios input:checked ~ label {
      color: orange;
    }
  }


}
