/**
BOOSTED OVERRIDE
*/
.text-primary{
  color: #ff7900;
}
.card-body{
  padding: 0.9375rem 1.25rem;
}

.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
/**
END BOOSTED OVERRIDE
*/
.yelen-search-result__list .search-result-item{
  margin-bottom: 1rem;
}

.yelen-search-result__list .search-result-item .card{
  /*border-radius: 1rem;
  border-color: transparent;*/
}

.yelen-search-result__list .search-result-item .media{
  margin-right: 1rem;
  flex: 0 0 auto;
}

.yelen-search-result__list .search-result-item .media img{
  width: 100px;
}

.yelen-search-result__list .search-result-item .action{
  margin-left: auto;
  flex: 0 0 auto;
}

.yelen-search-result__list .search-result-item .card-title > a{
  text-decoration: none;
  color: #000;
}

.yelen-search-result__list .search-result-item .card-body{
  background-color: transparent;
}
.yelen-search-result__list .search-result-item .card-title{
  font-size: 1.25rem;
}

.orange-yelen-top-search__block,
.block-search-api-stats-blockyelen-search-content{
  background-color: #f1f1f1;
  padding: 1rem;

  .block__title{
    background-color: #4bb4e4;
    padding: .85rem 1rem;
    border-radius: .85rem;
    color: #FFF;
    font-size: 1.5rem;
  }

  .most-popular-terms__list{
    .term{
      cursor: pointer;
      margin-bottom: 1rem;
      border-color: transparent;
      border-radius: .5rem;
      text-decoration: none;
      color: #000;

      .card-body {
        background-color: transparent;
        color: inherit;
      }

      &:hover{
        background-color: #ff7900;
        color: #FFFFFF;
      }
    }
  }
}
