{#
/**
 * @file
 * Default theme implementation to display a quiz result score.
 *
 * Available variables:
 * - numeric_score: The numeric score for the quiz.
 * - percentage_score: The percentage score for the quiz.
 * - question_count: The total number of questions in the quiz.
 * - username: The user who took the quiz.
 * - your_total: The possessive pronoun if you took the quiz, or 'Total' if you're viewing someone else's quiz results.
 * - possible_attributes: HTML attributes for the possible score containing element.
 * - percent_attributes: HTML attributes for the possible score containing element.
 *
 * @see template_preprocess_quiz_result_score()
 *
 * @ingroup themeable
 */
#}
{% set Alertclasses = ['alert-danger','alert-warning','alert-info','alert-success'] %}
{% set Iconclasses = ['Danger','Warning','Info','Success'] %}

{% if(percentage_score >= 0 and percentage_score < 25 ) %}
  {% set className = 'alert-danger' %}
  {% set icon = 'Danger' %}
{% elseif(percentage_score >= 25 and percentage_score< 50) %}
  {% set className = 'alert-warning' %}
  {% set icon = 'Warning' %}
{% elseif(percentage_score >= 50 and percentage_score < 70) %}
  {% set className = 'alert-info' %}
  {% set icon = 'Info' %}
{% elseif(percentage_score >= 70 and percentage_score <= 100) %}
  {% set className = 'alert-success' %}
  {% set icon = 'Success' %}
{% endif %}

<div class="alert {{ className }}" role="alert">
  <span class="alert-icon"><span class="visually-hidden">{{ icon }}</span></span>
  <p>
    {{ ':username got :numeric_score of :question_count possible points'|t({':username': username, ':numeric_score': numeric_score, ':question_count': question_count }) }},

    {{ ':your_total score: <span style="color:#ff7900">:percentage_score% </span>'|t({':username': username, ':your_total': your_total, ':percentage_score': percentage_score }) }}
  </p>
</div>


